@font-face {
  font-family: "B-Nazanin";
  src: url("./font/B-Nazanin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.persian-font {
  font-family: "B-Nazanin.", sans-serif;
}
